<html layout:decorate="~{layout}">

<head>
    <title th:text="|글 상세 - ${post.title}|"></title>
</head>

<div layout:fragment="content">

    <h2>번호 : [[${post.id}]]</h2>

    <h2>제목 : [[${post.title}]]</h2>

    <h3>작성일 : <span th:text="${#temporals.format(post.createdDate, 'yy.MM.dd HH:mm')}">작성일</span></h3>
    <h3>수정일 : <span th:text="${#temporals.format(post.modifyDate, 'yy.MM.dd HH:mm')}">수성일</span></h3>

    <h3>내용</h3>
    <!--pre-line 적용하여 줄바꿈 표시-->
    <div style="white-space: pre-line">[[${post.content}]]</div>

    <hr>

    <h2>댓글 작성</h2>
    <script>
        function PostComment__submitWriteForm(form) {
            form.content.value = form.content.value.trim();
            if (form.content.value.length === 0) {
                alert("댓글 내용을 입력해주세요.");
                form.content.focus();
                return;
            }
            if (form.content.value.length < 2 || form.content.value.length > 100) {
                alert("댓글 내용을 2자 이상 100자 이하 입력해주세요.");
                form.content.focus();
                return;
            }
            form.submit();
        }
    </script>
    <!--return false => 전송 버튼 눌렀을 때 폼이 전송되는 것을 막는다.-->
    <form th:action="@{/posts/{id}/comments(id=${post.id})}" method="post"
          onsubmit="PostComment__submitWriteForm(this); return false;">
        <div>
            <label for="content">내용</label>
            <textarea name="content" id="content" cols="50" rows="5"></textarea>
        </div>
        <button type="submit">작성</button>
    </form>

    <hr>

    <h2>댓글</h2>
    <ul>
        <li th:each="comment:${post.comments.reversed()}">
            <h3>번호 : <span th:text="${comment.id}">댓글 번호</span></h3>
            <h4>작성일 : <span th:text="${#temporals.format(comment.createdDate, 'yy.MM.dd HH:mm')}">작성일</span></h4>
            <h4>수정일 : <span th:text="${#temporals.format(comment.modifyDate, 'yy.MM.dd HH:mm')}">작성일</span></h4>
            <div style="white-space: pre-line" th:text="${comment.content}"></div>
            <br>
            <a th:href="@{/posts/{postId}/comments/{commentId}/modify(postId = ${post.id}, commentId = ${comment.id})}">수정</a>
            <a onclick="return confirm('정말로 삭제하시겠습니까?');"
               th:href="@{/posts/{postId}/comments/{commentId}(postId = ${post.id}, commentId = ${comment.id})}">삭제</a>
            <hr>
        </li>
    </ul>

    <div>
        <a href=".">글 목록</a> <!--/posts-->
        <a href="write">글 쓰기</a> <!--/posts/write-->
        <a th:href="@{{id}/modify(id=${post.id})}">글 수정</a> <!--/posts/{id}/modify-->
    </div>
</div>