<h1 th:text="${siteName}"></h1>

<!--th:object - 모델에서 전달한 객체 받아오기-->
<form method="POST" action="doWrite" th:object="${form}">
    <ul th:if="${#fields.hasAnyErrors()}">
        <!--th:with 적용하여 한번 split한 결과를 변수화-->
        <li th:with="errorStrs = ${error.split('-', 3)}, errorFieldName = ${errorStrs[1]}, errorMsg = ${errorStrs[2]}"
            th:each="error:${#fields.allErrors().stream().sorted()}"
            th:data-error-field-name="${errorFieldName}"
            th:text="${errorMsg}"
            style="color: red"></li>
    </ul>

    <!--*{ } - th:field - id, name, value 속성 자동 지정-->
    <div>
        <label for="title">제목</label>
        <br>
        <input type="text" placeholder="제목" autofocus th:field="*{title}">
    </div>
    <br>
    <div>
        <label for="content">내용</label>
        <br>
        <textarea placeholder="내용" th:field="*{content}"></textarea>
    </div>
    <br>
    <input type="submit" value="작성">
</form>